<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
  <!--[if gt IE 9]><!-->	
  <html>
  <!--<![endif]-->
	<head>
   {% include head.html %}
	</head>
	<body>

		<div class="body">

      {% include header.html %}

			<div role="main" class="main">

        {% if page.breadcrumb %}
          {% include breadcrumb.html %}
        {% endif %}

        {{ content }}

      </div>

      {% include footer.html %}
		</div>

    {% include footer_scripts.html %}
    {% include ga.html %}
	</body>
</html>
